<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GUTCHECK BETA</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <!-- https://fonts.google.com/specimen/Open+Sans -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome.min.css') }}">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fullcalendar.min.css') }}">
    <!-- https://fullcalendar.io/ -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tooplate.css') }}">
</head>

<body id="reportsPage">
    <div class="" id="home">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-xl navbar-light bg-light">
                        <a class="navbar-brand" href="#">
                            <i class="fa fa-3x fa-flask"></i>
                            <h1 class="tm-site-title mb-0">GutCheck</h1>
                        </a>
                        <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <form method="POST" action="/" enctype="multipart/form-data">
                            <input type="file" id="rare" name="filerare" accept=".csv">
                            <input type="file" id="clr" name="fileclr" accept=".csv">
                            <input type="submit">
                        </form>
                    </nav>
                </div>
            </div>
            <!-- row -->
            <div class="row tm-content-row tm-mt-big">
                <div class="tm-col tm-col">
                    <div class="bg-white tm-block h-100">
                        <h2 class="tm-block-title">Rarefaction Model Evaluation</h2>
                        <h6 class="tm-title" id="model1">The best model is </h6>
                        <select name="cars" id="cars" onchange="myFunction(this.value)">
                            <option value="best">Best Model</option>
                            <option value="volvo">Decision Tree</option>
                            <option value="volvo">Random Forest</option>
                            <option value="volvo">Gradient Boosting</option>
                            <option value="volvo">Extreme Gradient Boosting</option>
                            <option value="volvo">Light Gradient Boosting</option>
                            <option value="volvo">Extra Trees</option>
                            <option value="volvo">AdaBoost</option>
                            <option value="volvo">Logistic Regression</option>
                            <option value="volvo">Lasso Regularization</option>
                            <option value="volvo">Ridge Regularization</option>
                            <option value="volvo">Elastic Net Regularization</option>
                            <option value="volvo">Linear Support Vector</option>
                            <option value="volvo">Non-Linear Support Vector</option>
                            <option value="volvo">k-Nearest</option>
                            <option value="volvo">Linear Discriminant</option>
                            <option value="volvo">Gaussian Naive-Bayes</option>
                            <option value="volvo">Multi-Layer Perception</option>
                          </select>
                        <canvas id="lineChart" class="chartjs-render-monitor"></canvas>
                    </div>
                </div>
                <div class="tm-col tm-col">
                    <div class="bg-white tm-block h-100">
                        <h2 class="tm-block-title">Rarefaction Model Interpretation</h2>
                        <h6 class="tm-title">The best model is </h6>
                        <select name="cars" id="cars">
                            <option value="best">Best Model</option>
                            <option value="volvo">Decision Tree</option>
                            <option value="volvo">Random Forest</option>
                            <option value="volvo">Gradient Boosting</option>
                            <option value="volvo">Extreme Gradient Boosting</option>
                            <option value="volvo">Light Gradient Boosting</option>
                            <option value="volvo">Extra Trees</option>
                            <option value="volvo">AdaBoost</option>
                            <option value="volvo">Logistic Regression</option>
                            <option value="volvo">Lasso Regularization</option>
                            <option value="volvo">Ridge Regularization</option>
                            <option value="volvo">Elastic Net Regularization</option>
                            <option value="volvo">Linear Support Vector</option>
                            <option value="volvo">Non-Linear Support Vector</option>
                            <option value="volvo">k-Nearest</option>
                            <option value="volvo">Linear Discriminant</option>
                            <option value="volvo">Gaussian Naive-Bayes</option>
                            <option value="volvo">Multi-Layer Perception</option>
                          </select>
                        <canvas id="barChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="row tm-content-row tm-mt-big">
                <div class="tm-col tm-col">
                    <div class="bg-white tm-block h-100">
                        <h2 class="tm-block-title">CLR Model Evaluation</h2>
                        <h6 class="tm-title">The best model is </h6>
                        <select name="cars" id="cars">
                            <option value="best">Best Model</option>
                            <option value="volvo">Decision Tree</option>
                            <option value="volvo">Random Forest</option>
                            <option value="volvo">Gradient Boosting</option>
                            <option value="volvo">Extreme Gradient Boosting</option>
                            <option value="volvo">Light Gradient Boosting</option>
                            <option value="volvo">Extra Trees</option>
                            <option value="volvo">AdaBoost</option>
                            <option value="volvo">Logistic Regression</option>
                            <option value="volvo">Lasso Regularization</option>
                            <option value="volvo">Ridge Regularization</option>
                            <option value="volvo">Elastic Net Regularization</option>
                            <option value="volvo">Linear Support Vector</option>
                            <option value="volvo">Non-Linear Support Vector</option>
                            <option value="volvo">k-Nearest</option>
                            <option value="volvo">Linear Discriminant</option>
                            <option value="volvo">Gaussian Naive-Bayes</option>
                            <option value="volvo">Multi-Layer Perception</option>
                          </select>
                        <canvas id="lineChart" class="chartjs-render-monitor"></canvas>
                    </div>
                </div>
                <div class="tm-col tm-col">
                    <div class="bg-white tm-block h-100">
                        <h2 class="tm-block-title">CLR Model Interpretation</h2>
                        <h6 class="tm-title">The best model is {{clr_model_name}}</h6>
                        <select name="cars" id="cars">
                            <option value="best">Best Model</option>
                            <option value="volvo">Decision Tree</option>
                            <option value="volvo">Random Forest</option>
                            <option value="volvo">Gradient Boosting</option>
                            <option value="volvo">Extreme Gradient Boosting</option>
                            <option value="volvo">Light Gradient Boosting</option>
                            <option value="volvo">Extra Trees</option>
                            <option value="volvo">AdaBoost</option>
                            <option value="volvo">Logistic Regression</option>
                            <option value="volvo">Lasso Regularization</option>
                            <option value="volvo">Ridge Regularization</option>
                            <option value="volvo">Elastic Net Regularization</option>
                            <option value="volvo">Linear Support Vector</option>
                            <option value="volvo">Non-Linear Support Vector</option>
                            <option value="volvo">k-Nearest</option>
                            <option value="volvo">Linear Discriminant</option>
                            <option value="volvo">Gaussian Naive-Bayes</option>
                            <option value="volvo">Multi-Layer Perception</option>
                          </select>
                        <canvas id="barChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <!-- https://jquery.com/download/ -->
    <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
    <!-- https://momentjs.com/ -->
    <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
    <script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
    <!-- http://www.chartjs.org/docs/latest/ -->
    <script src="{{ url_for('static', filename='js/fullcalendar.min.js') }}"></script>
    <!-- https://fullcalendar.io/ -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!-- https://getbootstrap.com/ -->
    <script src="{{ url_for('static', filename='js/tooplate-scripts.js') }}"></script>
    <script>
        let ctxLine,
            ctxBar,
            ctxPie,
            optionsLine,
            optionsBar,
            optionsPie,
            configLine,
            configBar,
            configPie,
            lineChart;
        barChart, pieChart;
        // DOM is ready
        $(function () {
            updateChartOptions();
            drawLineChart(); // Line Chart
            drawBarChart(); // Bar Chart
            drawCalendar(); // Calendar

            $(window).resize(function () {
                updateChartOptions();
                updateLineChart();
                updateBarChart();
                reloadPage();
            });
        })
    </script>
    <script>
        function myFunction(val) {
            document.getElementById("model1").innerHTML = val;
        }
    </script>
</body>
</html>