<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GUTCHECK</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <!-- https://fonts.google.com/specimen/Open+Sans -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome.min.css') }}">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tooplate.css') }}">
</head>

<!--This page is just the home screen where you upload the datasets.-->

<body id="Page">
    <div class="" id="home">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-xl navbar-light bg-light">
                        <a class="navbar-brand" href="#">
                            <i class="fa fa-3x fa-flask"></i>
                            <h1 class="tm-site-title mb-0">GutCheck</h1>
                        </a>
                        <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button> <!--This is where you upload the datasets.-->
                        <form method="POST" action="/" enctype="multipart/form-data">
                            <input type="file" id="rare" name="filerare" accept=".csv">
                            <input type="file" id="clr" name="fileclr" accept=".csv">
                            <input type="submit">
                        </form>
                    </nav>
                </div>
            </div>
            <div class="row tm-content-row tm-mt-big">
                <div class="tm-col tm-col">
                    <div class="bg-white tm-block h-100">
                        <h6 class="tm-title" id="text1">Input the Rarefaction preprocessed dataset on the left, and the CLR dataset on the right.</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <!-- https://jquery.com/download/ -->
    <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
    <!-- https://momentjs.com/ -->
    <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!-- https://getbootstrap.com/ -->
    <script src="{{ url_for('static', filename='js/tooplate-scripts.js') }}"></script>
    <script>
        $(function () {

            $(window).resize(function () {
                reloadPage();
            });
        })
    </script>
    <script>
    </script>
</body>
</html>