<!DOCTYPE html>
<html lang="en">

<script>
    const rare_metrics = JSON.parse('{{ rare_metrics | tojson }}');
    const rare_interpret = JSON.parse('{{ rare_interpret | tojson }}');
    const clr_metrics = JSON.parse('{{ clr_metrics | tojson }}');
    const clr_interpret = JSON.parse('{{ clr_interpret | tojson }}');
</script>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GUTCHECK BETA</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <!-- https://fonts.google.com/specimen/Open+Sans -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome.min.css') }}">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fullcalendar.min.css') }}">
    <!-- https://fullcalendar.io/ -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tooplate.css') }}">
</head>

<body id="reportsPage">
    <div class="" id="home">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-xl navbar-light bg-light">
                        <a class="navbar-brand" href="#">
                            <i class="fa fa-3x fa-flask"></i>
                            <h1 class="tm-site-title mb-0">GutCheck</h1>
                        </a>
                        <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <form method="POST" action="/" enctype="multipart/form-data">
                            <input type="file" id="rare" name="filerare" accept=".csv">
                            <input type="file" id="clr" name="fileclr" accept=".csv">
                            <input type="submit">
                        </form>
                    </nav>
                </div>
            </div>
            <!-- row -->
            <div class="row tm-content-row tm-mt-big">
                <div class="tm-col tm-col">
                    <div class="bg-white tm-block h-100">
                        <h2 class="tm-block-title">Rarefaction Model Evaluation</h2>
                        <h6 class="tm-title">The best model is {{rare_model_name}}</h6>
                        <select name="cars" id="cars" onchange="myFunction1(this.value)">
                            <option value="best">Best Model</option>
                            <option value="dt">Decision Tree</option>
                            <option value="rf">Random Forest</option>
                            <option value="gb">Gradient Boosting</option>
                            <option value="xgb">Extreme Gradient Boosting</option>
                            <option value="lgb">Light Gradient Boosting</option>
                            <option value="et">Extra Trees</option>
                            <option value="ab">AdaBoost</option>
                            <option value="lr">Logistic Regression</option>
                            <option value="lr1">Lasso Regularization</option>
                            <option value="lr2">Ridge Regularization</option>
                            <option value="lre">Elastic Net Regularization</option>
                            <option value="lsv">Linear Support Vector</option>
                            <option value="nlsv">Non-Linear Support Vector</option>
                            <option value="knn">k-Nearest</option>
                            <option value="lda">Linear Discriminant</option>
                            <option value="gnb">Gaussian Naive-Bayes</option>
                            <option value="mlp">Multi-Layer Perception</option>
                          </select>
                          <img id="model1" src="data:image/png;base64, {{rare_metrics[rare_model_name]}}" alt="Red dot" />
                    </div>
                </div>
                <div class="tm-col tm-col">
                    <div class="bg-white tm-block h-100">
                        <h2 class="tm-block-title">Rarefaction Model Interpretation</h2>
                        <h6 class="tm-title">The best model is {{rare_model_name}}</h6>
                        <select name="cars" id="cars" onchange="myFunction2(this.value)">
                            <option value="best">Best Model</option>
                            <option value="dt">Decision Tree</option>
                            <option value="rf">Random Forest</option>
                            <option value="gb">Gradient Boosting</option>
                            <option value="xgb">Extreme Gradient Boosting</option>
                            <option value="lgb">Light Gradient Boosting</option>
                            <option value="et">Extra Trees</option>
                            <option value="ab">AdaBoost</option>
                            <option value="lr">Logistic Regression</option>
                            <option value="lr1">Lasso Regularization</option>
                            <option value="lr2">Ridge Regularization</option>
                            <option value="lre">Elastic Net Regularization</option>
                            <option value="lsv">Linear Support Vector</option>
                            <option value="nlsv">Non-Linear Support Vector</option>
                            <option value="knn">k-Nearest</option>
                            <option value="lda">Linear Discriminant</option>
                            <option value="gnb">Gaussian Naive-Bayes</option>
                            <option value="mlp">Multi-Layer Perception</option>
                          </select>
                          <img id="model2" src="data:image/png;base64, {{rare_interpret[rare_model_name]}}" alt="Red dot" />
                        <canvas id="barChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="row tm-content-row tm-mt-big">
                <div class="tm-col tm-col">
                    <div class="bg-white tm-block h-100">
                        <h2 class="tm-block-title">CLR Model Evaluation</h2>
                        <h6 class="tm-title">The best model is {{clr_model_name}}</h6>
                        <select name="cars" id="cars" onchange="myFunction3(this.value)">
                            <option value="best">Best Model</option>
                            <option value="dt">Decision Tree</option>
                            <option value="rf">Random Forest</option>
                            <option value="gb">Gradient Boosting</option>
                            <option value="xgb">Extreme Gradient Boosting</option>
                            <option value="lgb">Light Gradient Boosting</option>
                            <option value="et">Extra Trees</option>
                            <option value="ab">AdaBoost</option>
                            <option value="lr">Logistic Regression</option>
                            <option value="lr1">Lasso Regularization</option>
                            <option value="lr2">Ridge Regularization</option>
                            <option value="lre">Elastic Net Regularization</option>
                            <option value="lsv">Linear Support Vector</option>
                            <option value="nlsv">Non-Linear Support Vector</option>
                            <option value="knn">k-Nearest</option>
                            <option value="lda">Linear Discriminant</option>
                            <option value="gnb">Gaussian Naive-Bayes</option>
                            <option value="mlp">Multi-Layer Perception</option>
                          </select>
                          <img id="model3" src="data:image/png;base64, {{clr_metrics[clr_model_name]}}" alt="Red dot" />
                        <canvas id="lineChart" class="chartjs-render-monitor"></canvas>
                    </div>
                </div>
                <div class="tm-col tm-col">
                    <div class="bg-white tm-block h-100">
                        <h2 class="tm-block-title">CLR Model Interpretation</h2>
                        <h6 class="tm-title">The best model is {{clr_model_name}}</h6>
                        <select name="cars" id="cars" onchange="myFunction4(this.value)">
                            <option value="best">Best Model</option>
                            <option value="dt">Decision Tree</option>
                            <option value="rf">Random Forest</option>
                            <option value="gb">Gradient Boosting</option>
                            <option value="xgb">Extreme Gradient Boosting</option>
                            <option value="lgb">Light Gradient Boosting</option>
                            <option value="et">Extra Trees</option>
                            <option value="ab">AdaBoost</option>
                            <option value="lr">Logistic Regression</option>
                            <option value="lr1">Lasso Regularization</option>
                            <option value="lr2">Ridge Regularization</option>
                            <option value="lre">Elastic Net Regularization</option>
                            <option value="lsv">Linear Support Vector</option>
                            <option value="nlsv">Non-Linear Support Vector</option>
                            <option value="knn">k-Nearest</option>
                            <option value="lda">Linear Discriminant</option>
                            <option value="gnb">Gaussian Naive-Bayes</option>
                            <option value="mlp">Multi-Layer Perception</option>
                          </select>
                          <img id="model4" src="data:image/png;base64, {{clr_interpret[clr_model_name]}}" alt="Red dot" />
                        <canvas id="barChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <!-- https://jquery.com/download/ -->
    <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
    <!-- https://momentjs.com/ -->
    <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
    <script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
    <!-- http://www.chartjs.org/docs/latest/ -->
    <script src="{{ url_for('static', filename='js/fullcalendar.min.js') }}"></script>
    <!-- https://fullcalendar.io/ -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!-- https://getbootstrap.com/ -->
    <script src="{{ url_for('static', filename='js/tooplate-scripts.js') }}"></script>
    <script>
        let ctxLine,
            ctxBar,
            ctxPie,
            optionsLine,
            optionsBar,
            optionsPie,
            configLine,
            configBar,
            configPie,
            lineChart;
        barChart, pieChart;
        // DOM is ready
        $(function () {
            updateChartOptions();
            drawLineChart(); // Line Chart
            drawBarChart(); // Bar Chart
            drawCalendar(); // Calendar

            $(window).resize(function () {
                updateChartOptions();
                updateLineChart();
                updateBarChart();
                reloadPage();
            });
        })
    </script>
    <script>
        function myFunction1(val) {
            document.getElementById("model1").src = "data:image/png;base64," + rare_metrics[val];
            console.error("No image data for:", val);
        }
        function myFunction2(val) {
            document.getElementById("model2").src = "data:image/png;base64," + rare_interpret[val];
            console.error("No image data for:", val);
        }
        function myFunction3(val) {
            document.getElementById("model3").src = "data:image/png;base64," + clr_metrics[val];
            console.error("No image data for:", val);
        }
        function myFunction4(val) {
            document.getElementById("model4").src = "data:image/png;base64," + clr_interpret[val];
            console.error("No image data for:", val);
        }
    </script>
</body>
</html>